---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Thank You">
  <article class="post-content page-template no-image">
    <div class="post-content-body">
      <div class="thank-you" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
         <h1>Grazie!</h1>
         <p>Abbiamo ricevuto il tuo messaggio.</p>
         <p><a href="/">Torna alla pagina principale</a></p>
      </div>
    </div>
  </article>
</Layout>
